doctype html
html
  include ./head
  body
    div.wrap
      h1 Air Pollution
      div
        a.btn.btn-info.pull-right(href='/map/today') data today
        button#btn.btn.btn-info.pull-left(type='button') your location
      .row
        //- // ============================================== div hiển thị map
        .span11
          #map
      script.
        //-----------------------------------------------------consvert data 
        var obj = !{JSON.stringify(obj)};
        console.log(obj);
        //- ---------------------------------------------------draw map
        var myLatLng  = {lat: 21.018951, lng: 105.843420};
        var myLatLng1 = {lat: 21.019051, lng: 105.843520};
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 11,
          center: myLatLng 
        });
        //- --------------------------------------------------- forEach data-----------------------------
        obj.forEach(function(point){
        //- set color 
        //-   var color = setColor(point.data[point.data.length-1].pm_2_5);
          var color = setColor(point.lastPm);
        //- get lat lng
          var la = point.location.lat;
          var ln = point.location.lng;
        //-   ================================================ create maker for one object
          var marker = new google.maps.Marker({
              position: {lat: Number(la), lng: Number(ln) },
              map:map,
              animation: google.maps.Animation.DROP,
            //-   icon: 'https://chart.googleapis.com/chart?chst=d_bubble_icon_text_small&chld=medical|bb|'+ point.data[point.data.length-1].pm_2_5+'|'+color+'|000000' 
            //-   icon: 'https://chart.googleapis.com/chart?chst=d_bubble_icon_text_small&chld=medical|bb|'+ point.lastPm+'|'+color+'|000000' 
              icon: `https://chart.apis.google.com/chart?chst=d_map_spin&chld=1|0|${color}|10|b|${point.lastPm}` 
          });
        //-   
          var t=[], pm=[], hu=[], i =0;// gia trị băt dau trong title
        //-   
          point['data'].forEach(function(data){
            pm.push([{v: [i, 0, 0], f: ''+i+'h'},data.pm_2_5]);
            t.push([{v: [i, 0, 0], f: ''+i+'h'},data.temperature]);
            hu.push([{v: [i, 0, 0], f: ''+i+'h'},data.humidity]);
            i++;
          });
          //- ====================add click listener
          marker.addListener('click', function() {
            drawChart(this,pm,t,hu);
            map.setZoom(12);
            map.setCenter(marker.getPosition());
          });
        });
        //- =========================================================================}end foreach
        //- --------------------------------------------------- -----------------------------
        google.load('visualization', '1.0', {'packages':['corechart']});
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart);
        // ----------------------------------------------------------------------------------------------function drawn
        //- param 
        //- dnd : data pm2.5
        //- t data nhiet do 
        function drawChart(marker,pm=[],t=[],hu=[]) {
            // Create the data table for pm
            var data_pm = new google.visualization.DataTable();
            data_pm.addColumn('timeofday', 'Time of Day');
            data_pm.addColumn('number', 'rate');
            data_pm.addRows(pm);
            //- create datatable for nhiet do
            var deta = new google.visualization.DataTable();
            deta.addColumn('timeofday', 'Time of Day');
            deta.addColumn('number', 'rate');
            deta.addRows(t);
            //- create datatable for do am 
            var data_du = new google.visualization.DataTable();
            data_du.addColumn('timeofday', 'Time of Day');
            data_du.addColumn('number', 'rate');
            data_du.addRows(hu);
            console.log(hu);
            //- option for pm bui
            var options = {
                //- width: 600,
                //- height: 220,
                title: 'PM2.5',
                animation: {
                    duration: 2000,
                    startup: true //This is the new option
                },
                series: {
                    0: { color: '#101010' }
                },
                //- backgroundColor:'black',
                hAxis: {
                    title: 'dữ liệu đến: '+Date(),
                    //- format: 'h:mm a',
                    format: 'k:m ',
                    //- format: 'number',
                    //- ticks: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0, 23],
                    viewWindow: {
                    min: [0, 0, 0],
                    max: [23, 0, 0]
                    }
                },

                vAxis: {
                    title: 'Rating (scale of 1-100)',
                    ticks: [0, 35, 75, 115, 150, 250, 500]
                    
                }
            };
            //- option for do am
            var options_du = {
                //- width: 600,
                //- height: 220,
                title: 'Humidity',
                animation: {
                    duration: 2000,
                    startup: true //This is the new option
                },
                series: {
                    0: { color: '#00531e' }
                },
                //- backgroundColor:'black',
                hAxis: {
                    title: 'dữ liệu đến: '+Date(),
                    format: 'k:m ',
                    viewWindow: {
                    min: [0, 0, 0],
                    max: [23, 0, 0]
                    }
                },
                vAxis: {
                    title: 'Rating (scale of 0-100)',
                    ticks: [0, 10, 20,30, 40, 50, 60, 70,80,90,100]
                    
                }
            };
            //- ----+option nhiet do ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
            var options_t = {
                //- width: 600,
                //- height: 220,
                title: 'Temperature',
                animation: {
                    duration: 2000,
                    startup: true //This is the new option
                },
                //- backgroundColor:'',
                series: {
                    0: { color: '#e0031e' }
                },
                hAxis: {
                    title: 'dữ liệu đến: '+Date(),
                    //- format: 'h:mm a',
                    format: 'k:m ',
                    //- format: 'number',
                    //- ticks: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0, 24],
                    viewWindow: {
                        min: [0, 0, 0],
                        max: [23, 0, 0]
                    }
                },
                vAxis: {
                title: 'Rating (scale of 1-60)',
                ticks: [0, 10, 20, 40, 60]
                }
            };
              //
            var node_pm       = document.createElement('div'),
                node_t        = document.createElement('div'),
                node_du       = document.createElement('div'),
                parentDiv     = document.createElement('div'),
                //- content       = document.createElement('')
                infoWindow    = new google.maps.InfoWindow(),
                chart_pm      = new google.visualization.ColumnChart(node_pm),
                chart_t       = new google.visualization.ColumnChart(node_t),
                chart_du      = new google.visualization.ColumnChart(node_du);
            parentDiv.appendChild(node_pm);
            parentDiv.appendChild(node_t);
            parentDiv.appendChild(node_du);

            chart_pm.draw(data_pm, options);
            chart_du.draw(data_du, options_du);
            chart_t.draw(deta, options_t);

            infoWindow.setContent(parentDiv);
            try 
            {
                infoWindow.open(marker.getMap(),marker);
            }
            catch(e)
            {
                console.log(e);
            }
        }
        // -------------------------------------------------------------------------------------btn -------------------------
        $( "#btn" ).click(function() {
            console.log(1111111);
            navigator.geolocation.getCurrentPosition(function(po){
              console.log(po.coords.latitude +" --- "+ po.coords.longitude);
              console.log(22222222);
              //- var lat 
              // move map
              map.setCenter({
                lat: po.coords.latitude,
                lng: po.coords.longitude
              });
              var marker1 = new google.maps.Marker({
                  //- position: {lat: obj[j].location.lat, lng: obj[j].location.lng},
                position: {lat: Number(po.coords.latitude), lng: Number(po.coords.longitude) },
                map:map,
                icon: 'https://chart.apis.google.com/chart?chst=d_map_spin&chld=0.9|0|2BEC5F|10|b|'  + "Y"

              });
              marker1.addListener('click', function() {
                drawChart(this,pm);
                map.setZoom(14);
                map.setCenter(marker1.getPosition());
              });
              // add maker
              //- map.addMarker({
              //-   lat: po.coords.latitude,
              //-   lng: po.coords.longitude,
              //-   title: 'your location',
              //-   zoom : 30,
              //-   infoWindow: {
              //-     content: '<p>local:  ' +po.coords.latitude+' ::'+ po.coords.longitude +' </p>  <p> pm2.5 :' +205 +' and temp :'+ 1 +' </p> '
              //-   },
              //-   icon: 'http://chart.apis.google.com/chart?chst=d_map_spin&chld=0.9|0|2BEC5F|10|b|'  + 44
              //- });// add maker
            });//loadlocation
          }); // click()

          function setColor(value){
            if(value<=40){
              return '2BEC5F';
            }
            return 'fc0230';
          }

